.sidebar1 {
    overflow-y: scroll;
  }

  /* Style the custom scrollbar for WebKit browsers */
.sidebar1::-webkit-scrollbar {
    width: 12px;
  }

.sidebar1::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary); /* Scrollbar thumb color */
    border-radius: 6px; /* Rounded corners */
  }

.sidebar1::-webkit-scrollbar-track {
    background-color: var(--clr-ternary); /* Scrollbar track color */
  }
/*
  <section class="sidebar1" style="height: 100px;">
  <section>
  */