.sideBar-btn-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2px;
  .button {

    padding: 24px 16px;

    width: 100%;
    border-radius: 1em;

    transition: transform 0.3s ease-out;
    cursor: pointer;
  }

}

// function handleHover() {
//     console.log('Button Hovered!');
//     // Add your JavaScript logic here
// }
