.bgTextHero {
  margin-top: -1em;
    position: relative;
    height: 80vh;
    background-image: url('assets/furniture.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); /* Overlay for better readability */
    }

    .hero-content {
      z-index: 0; /* Ensures the content is above the background image */
    }

    // .hero h1 {
    //   font-size: var(--fs-h1);
    //   margin-bottom: 20px;
    //   font-weight: var(--fw-bold);
    // }

    // .hero p {
    //   font-size: var(--fs-body);
    //   margin-bottom: 30px;
    // }

  }
/*
  <div class="bgTextHero">
        <div class="hero-content">
            <h1>Your Hero Heading</h1>
            <p>Your hero subheading or description goes here.</p>
            <button class="button-filled">Get Started</button>
        </div>
    </div>
*/