/* Container for the section layout */
.col-right-side-bar {
    display: flex;
    flex-direction: row;
    height: 32em;
}

.col-right-side-bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

/* Main content column */
.col-right-side-bar > :first-child {
    flex: 7; /* Takes full width initially */
    background-color: #f2f2f2; /* Add your preferred background color */
    min-height: 500px;
    margin: 0 6em
}

/* Sidebar column */
.col-right-side-bar > :nth-child(2) {
    flex: 3; /* Takes full width initially */
    // padding: 20px; /* Adjust padding as needed */
    background-color: #ddd; /* Add your preferred background color */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .col-right-side-bar {
        height: auto; /* Adjust the height as needed for small screens */
        flex-direction: column;
    }

    .col-right-side-bar > :first-child,
    .col-right-side-bar > :nth-child(2) {
        flex: 1; /* Each takes full width on small screens */
        margin:0;
        padding:0

    }
    .col-right-side-bar > :nth-child(2) {
        max-height: 300px;

    }
}

/*
<div class="col-right-side-bar">
<div>

</div>

    <div class="sideBar-btn-col">
          <div class="col-right-side-bar">
            <div>
                <img src="assets/placeholder.png">
                <!-- Add your main content here -->
            </div>

                <div class="sideBar-btn-col">
                    <button class="button button-outline" onmouseover="handleHover()">Button 1</button>
                      <!-- more in the sideBar-btn-col styling-->
                </div>
                <!-- Add your sidebar content here -->

        </div>
    </div>
    <!-- Add your sidebar content here -->

</div>*/